{% extends "base.html" %}

{% block content %}

    <h1>Select Image and Transformation Parameters</h1>
    <form method="post" novalidate>
        <h4>
            Image:
        </h4>
        <p>
            <select name="image_id">
                {% for image in images %}
                  <option value="{{ image }}" SELECTED>{{ image }}</option>
                {% endfor %}
              </select>
        </p>
        <h4>
            Color:
        </h4>
        <p>
            <input type="number" value="1" step="0.01" name="color" placeholder="Enter a float value between 0 and 1" min="0" max="1">
        </p>
        <h4>
            Brightness:
        </h4>
        <p>
            <input type="number" value="1" step="0.01" name="brightness" placeholder="Enter a float value bigger than 0" min="0.0">
        </p>
        <h4>
            Contrast:
        </h4>
        <p>
            <input type="number" value="1" step="0.01" name="contrast" placeholder="Enter a float value bigger than 0" min="0.0">
        </p>
        <h4>
            Sharpness:
        </h4>
        <p>
            <input type="number" value="1" step="0.01" name="sharpness" placeholder="Enter a float value bigger than 0" min="0.0">
        </p>
        <button type="submit" value="1" class="btn btn-dark mb-2">Submit</button>
        </form>
{% endblock %}