{% extends "base.html" %}

{% block content %}

<h1>Select Image and Transformation Parameters</h1>
<form method="post" novalidate>

    <div class="form-group">
        <label>Image:</label>
        <select name="image_id" class="form-control">
            {% for image in images %}
                <option value="{{ image }}" selected>{{ image }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Color:</label>
        <input type="number" name="color" value="1" step="0.01" min="0" max="1"
               class="form-control" placeholder="Enter a float between 0 and 1">
    </div>

    <div class="form-group">
        <label>Brightness:</label>
        <input type="number" name="brightness" value="1" step="0.01" min="0.0"
               class="form-control" placeholder="Enter a float > 0">
    </div>

    <div class="form-group">
        <label>Contrast:</label>
        <input type="number" name="contrast" value="1" step="0.01" min="0.0"
               class="form-control" placeholder="Enter a float > 0">
    </div>

    <div class="form-group">
        <label>Sharpness:</label>
        <input type="number" name="sharpness" value="1" step="0.01" min="0.0"
               class="form-control" placeholder="Enter a float > 0">
    </div>

    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock %}
