{% extends "base.html" %}

{% block content %}

    <h1>Select Model and Image</h1>
    <form method="post" enctype="multipart/form-data" novalidate>
        <h4>
            Model:
        </h4>
        <p>
            <select name="model_id">
                {% for model in models %}
                  <option value="{{ model }}" SELECTED>{{ model }}</option>
                {% endfor %}
            </select>
        </p>
        <h4>Image:</h4>
        <p>
            <input type="file" id="uploaded_image" name="uploaded_image" accept="image/*" required hidden>
            <button type="button" class="btn btn-white border" style="width: 120px;" onclick="document.getElementById('uploaded_image').click();">
                Upload
            </button>
        </p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}